body{
  margin: 0;
  padding : 0;
}

.Container{
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.Container-FullScreen{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.Container-FullScreen:hover .Container-Buttons-FullScreen {
  visibility:visible;
  opacity:1;
}

.Container-FullScreen:hover .Container-Titlu{
  visibility:visible;
  opacity:1;
}

.Container-Click{
  position: absolute;
  top: 10%;
  bottom: 17%;
  width: 100%;
  z-index: 1;
}

.Container-Click-FullScreen{
  position: absolute;
  top: 10%;
  bottom: 10%;
  width: 100%;
  z-index: 1;
}

.Container-Video{
  top: 50vh;
  transform: translateY(-50%);
  position: relative;
  padding-bottom: 56.25%;
}  

.Container-Video video{
  position: absolute;
  width: 100%;
  height: 100%;
}

.Container-Titlu{
  width: 100%;
  min-height: 10%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index:1;
  display: flex;
  visibility:hidden;
  opacity:0;
  transition:visibility 0.3s linear,opacity 0.3s linear;
}

.Container-Buttons{
  width: 100%;
  height: 13%;
  max-height: 50px;
  position: absolute;
  left: 0;
  bottom: 0;
  visibility:hidden;
  opacity:0;
  transition:visibility 0.3s linear,opacity 0.3s linear;
  display: flex;
}

.Container-Buttons-FullScreen{
  width: 100%;
  height: 7%;
  position: absolute;
  left: 0;
  bottom: 0;
  visibility:hidden;
  opacity:0;
  transition:visibility 0.3s linear,opacity 0.3s linear;
  display: flex;
}

.Container:hover .Container-Buttons {
  visibility:visible;
  opacity:1;
}

.Container:hover .Container-Titlu{
  visibility:visible;
  opacity:1;
}

.Time{
  color: white;
  font-size: 17px;
  width : 40%;
  display: inline-flex;
  margin-top :auto;
  margin-bottom: auto;
  margin-left: 3%;
  margin-right: 3%;
}

.Text-Titlu{
  margin-left: 20px;
  margin-top: 8px;
  font-size: 20px;
  color: white;
  font-family: 'Encode Sans Condensed', sans-serif;
}

i{
  color:white;
  width : 3%;
  display: inline-flex;
  margin-top : auto;
  margin-bottom: auto;
  margin-left: 5px;
  margin-right: 5px;
}

i:hover{
  color:silver;
}

.buttonImg{
  display:inline-block;
  color:white;
  margin-left: 20px;
  margin-bottom: 11px;
  width: 25px;
  height: 25px;
}

.bar{
  position: absolute;
  top: 0;
  margin-left: 3%;
  margin-right: 3%;
  
  opacity: 0.7;
  width: 92%;
  height: 5px;
  display: flex;

  -webkit-appearance: none;
  border-radius: 6px;
  background-color: white;
  outline: none;

}
.bar:hover{
  opacity: 0.5;
}

.bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: red;
  cursor: pointer;
}

.ContainerVolume{
  display: inline-flex;
  margin-top: auto;
  margin-bottom: auto; 
}

.volumeBar{
  -webkit-appearance: none;
  width: 70px;
  height: 5px;
  border-radius: 6px;
  background: white;
  outline: none;  
}

.volumeBar::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
}

.v{
  display: inline-flex;
  margin-top:auto;
  margin-bottom: auto;
}

.v:hover + .ContainerVolume{
  display: inline-flex;
}

video::-webkit-media-controls-enclosure {
  display:none !important;
}

.MsgOnScreen{
  position: absolute;
  top: 45%;
  bottom: 45%;
  left: 45%;
  right: 45%;
}

.imgOnScreen{
  z-index: 1;
  width: 50px;
  height: 50px;
  visibility:hidden;
  opacity:0;
  transition:visibility 0.3s linear,opacity 0.3s linear;
}

@media only screen and (max-width: 900px) {
  .Container{
      max-width: 80%;
  }
  .Container-Click{
      bottom: 12%;
  }
  .Container-Buttons{
     height: 10%;
  }
  i{
    margin-left: 10px;
    margin-right: 10px;
  }
  .bar{
     height: 4px;
  }
}

@media only screen and (max-width: 650px)
{
 .Container-Buttons{
   height: 16%;
 }
 .Container-Click{
  bottom: 20%;
 }
 .Text-Titlu{
   font-size: 15px;
 }
}

@media only screen and (max-width: 500px)
{
 .Text-Titlu{
      font-size: 15px;
 }
}

@media only screen and (max-width: 400px)
{
 .Container-Buttons{
   height: 18%;
  }
  i{
    width: 2%;
    font-size: 14px;
  }
  .Text-Titlu{
    margin-left:10px;
  }

}

@media only screen and (max-width: 320px)
{
  .Text-Titlu{
    font-size: 10px;
  }
  .Container-Buttons{
    height: 22%;
  }
  .Time{
    font-size: 12px;
  }
  i{
    font-size: 12px;
  }
  .volumeBar{
    height: 3px;
    width: 50px;
  }
  .volumeBar::-webkit-slider-thumb{
    height: 10px;
    width: 10px;
  }
}



