body,html{
  height: 100%;
}

.Container{
  position: relative;
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.Container-FullScreen{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.Container-FullScreen:hover .Container-Buttons {
  visibility:visible;
  opacity:1;
}

.Container-FullScreen:hover .Container-Titlu{
  visibility:visible;
  opacity:1;
}

.Container-Click{
  position: absolute;
  top: 10%;
  bottom: 50px;
  width: 100%;
  z-index: 1;
}

.Container-Click-FullScreen{
  position: absolute;
  top: 10%;
  bottom: 10%;
  width: 100%;
  z-index: 1;
}
  video{
  width: 100%;
  max-height: 100vh;
  background-color: black;
}

.Container-Video-Full{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.Container-Titlu{
  width: 100%;
  height: 10%;
  max-height: 50px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index:1;
  display: flex;
  visibility:hidden;
  opacity:0;
  transition:visibility 0.3s linear,opacity 0.3s linear;
}

.Container-Buttons{
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  max-height: 40px;
  visibility:hidden;
  opacity:0;
  transition:visibility 0.3s linear,opacity 0.3s linear;
}

.Container:hover .Container-Buttons {
  visibility:visible;
  opacity:1;
}

.Container:hover .Container-Titlu{
  visibility:visible;
  opacity:1;
}

.Time{
  color: white;
  font-size: 17px;
  display: inline-flex;
  margin-top :auto;
  margin-bottom: auto;
  margin-left: 3%;
  margin-right: 3%;
  width: 90px;
}

.Text-Titlu{
  margin-left: 4%;
  margin-top: 8px;
  font-size: 20px;
  color: white;
  font-family: 'Encode Sans Condensed', sans-serif;
}

i{
  color:white;
  font-size: 15px;
  margin-bottom: 15px;
  margin-left: 10px;
  margin-right: 10px;
}

i:hover{
  color:silver;
}

.bar{
  margin-left: 3%;
  margin-right: 3%;
  opacity: 0.7;
  width: 92%;
  height: 5px;
  display: flex;
  -webkit-appearance: none;
  border-radius: 6px;
  background-color: white;
  outline: none;

}
.bar:hover{
  opacity: 0.5;
}

.bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: red;
  cursor: pointer;
}

.ContainerVolume{
  display: inline-flex;
  margin-top: auto;
  margin-bottom: auto; 
}

.volumeBar{
  -webkit-appearance: none;
  width: 70px;
  height: 5px;
  border-radius: 6px;
  background: white;
  outline: none;  
}

.volumeBar::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
}

.v{
  display: inline-flex;
  margin-top:auto;
  margin-bottom: auto;
}

.v:hover + .ContainerVolume{
  display: inline-flex;
}

video::-webkit-media-controls-enclosure {
  display:none !important;
}

.MsgOnScreen{
  position: absolute;
  top: 45%;
  bottom: 45%;
  left: 45%;
  right: 45%;
}

.imgOnScreen{
  z-index: 1;
  width: 50px;
  height: 50px;
  visibility:hidden;
  opacity:0;
  transition:visibility 0.3s linear,opacity 0.3s linear;
}

@media only screen and (max-width: 900px) {
  .Container{
      max-width: 80%;
  }
}

@media only screen and (max-width: 600px){
  i{
    font-size: 13.5px;
    margin-left: 8.5px;
    margin-right: 8.5px;
  }
  .volumeBar{
    width: 60px;
    height: 4px;
  }
  .volumeBar::-webkit-slider-thumb{
    width:11px;
    height:11px;
  }
  .bar{
    height: 4px;
  }
  .bar::-webkit-slider-thumb{
    width:8px;
    height: 8px;
  }
  .Time{
    font-size: 15px;
    width: 70px;
  }
  .Text-Titlu{
    font-size: 15px;
  }
}

@media only screen and (max-width: 420px){
  i{
    font-size: 12px;
    margin-left: 7px;
    margin-right: 7px;
  }
  .volumeBar{
    width: 50px;
    height: 3.5px;
  }
  .volumeBar::-webkit-slider-thumb{
    width:10px;
    height:10px;
  }
  .bar{
    height: 3.5px;
  }
  .bar::-webkit-slider-thumb{
    width: 7px;
    height: 7px;
  }
  .Time{
    font-size: 14px;
    width: 65px;
  }
  .Text-Titlu{
    font-size: 14px;
  }
}

@media only screen and (max-width: 300px){
  i{
    font-size: 10px;
    margin-left: 5px;
    margin-right: 5px;
  }
  .volumeBar{
    width: 35px;
    height: 2.5px;
  }
  .volumeBar::-webkit-slider-thumb{
    width:8px;
    height:8px;
  }
  .bar{
    height: 3px;
  }
  .bar::-webkit-slider-thumb{
    width: 6px;
    height: 6px;
  }
  .Time{
    font-size: 12px;
    width: 60px;
  }
  .Text-Titlu{
    font-size: 12px;
  }
}

@media only screen and (max-width: 225px){
  i{
    font-size: 8px;
    margin-left: 4px;
    margin-right: 4px;
  }
  .volumeBar{
    width: 25px;
    height: 2px;
  }
  .volumeBar::-webkit-slider-thumb{
    width:6px;
    height:6px;
  }
  .bar{
    height: 2px;
  }
  .bar::-webkit-slider-thumb{
    width: 5px;
    height: 5px;
  }
  .Time{
    font-size: 10px;
    width: 50px;
  }
  .Text-Titlu{
    font-size: 8px;
  }
}

@media only screen and (max-width: 180px){
  i{
    font-size: 7px;
    margin-left: 3px;
    margin-right: 3px;
  }
  .volumeBar{
    width: 20px;
    height: 2px;
  }
  .volumeBar::-webkit-slider-thumb{
    width:5px;
    height:5px;
  }
  .bar{
    height: 1.5px;
  }
  .bar::-webkit-slider-thumb{
    width: 4px;
    height: 4px;
  }
  .Time{
    font-size: 8px;
    width: 45px;
  }
  .Text-Titlu{
    font-size: 7px;
  }
}
